<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Doce Atelie - um arte de confeitos </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,700&display=swap" rel="stylesheet"> 
    <!--Bootstrap-->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/ccbbaff11d.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <header>
      <div class="container" id="nav-container">
        <nav class="navbar navbar-expand-lg fixed-top navbar-light " >
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" 
          aria-controls="navabar-links" aria-expanded="false" aria-label="Toggle-navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
            <a class="navbar-brand" href="/">
              <img src="static/img/Logo-brigadeiro.jpg" alt="brigadeiro" style="height: 20%;width: 20%;" class="rounded-circle"> Doce Atelie
            </a>
          </button>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/" id="home-menu">Pagina inicial</a>
              <a class="nav-item nav-link" href="/Sobre" id="about-menu">Sobre</a>
              <a class="nav-item nav-link" href="/Produtos" id="services-menu">Produtos</a>
              <a class="nav-item nav-link" href="/Contatos" id ="contacts-menu">Contatos</a>
              <a class="nav-item nav-link" href="/login" id="login-menu">Entrar</a>
            </div>
          </div>
        </nav>
      </div>
    </header>
      {% block conteudo %}
      {% endblock %}
  </body>
</html>
