
#login-container{
    padding-top: 15%;
    
}
#login-main-div form {
    display: inline-block;
    width: 450px; 
    height: 350px;
    background-color:  #eeb7dc;
    padding: 10px 20px;
    border-radius: 30px
    
}

#backgound{
    background-color: rgb(255, 211, 240);

}
#login-main-div{
    width: 400px;
    height: 350px;
    padding-top: 15%;
    background-color:  #58eb6b;
    padding: 10px 20px;
    border-radius: 30px;
}

#login-main-div button{
    margin-left: 1 !important;
    padding: 10px 20px;
    border-radius: 30px;
    
}

